.vim/*
.vimrc
.viminfo
.npm*/*
.node-gyp/*
.gem/*
.rvm/*
.pyenv/*
.forever/*
.bash_history
.local
log/*
tmp/*
.meteor/*
.meteorite/*
.meteorsession/*
.cache/*
.config/*
.nave/*
.git/*
.ssh/*
.v8flags*
**/node_modules
*.com
www.com-template
dev/*
shared/log/*
